<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ACRRentalCarAVA.Properties.Settings.DB_RENTALCARConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB_RENTALCAR;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>